@font-face {
    font-family: "Aniron";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/anicm___.ttf') format('truetype');
}

@font-face {
    font-family: "Aniron Bold";
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/anirb___.ttf') format('truetype');
}

@font-face {
    font-family: "Tengwar";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/tegani.ttf') format('truetype');
}

@font-face {
    font-family: "Party";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/partybusiness.ttf");
}

.topbar {
    background-color: rgb(255, 102, 0) !important;
    height: 60px;
}

#thetopbar {
    justify-content: flex-end;
}

li.topnavitems a:hover {
    text-decoration: underline white !important;
}

img.preciouslogo {
    height: 30px;
    width: 250px;
    margin-top: 13px;
    color: white !important;
}

li.topnavitems a {
    color: white !important;
    margin-top: 14px;
    padding: 0 1em;
    text-align: center;
    border-right: 1px solid white;
    font-family: aniron, cursive;
    text-decoration-color: white !important;
}

li.topnavitems.special a {
    border: 0;
}

.carousel-item {
    max-height: 400px;
    font-family: 'Aniron Bold', cursive;
}

img.sinimage {
    height: 400px;
    width: auto;
    margin: none;
    padding: none;
}

.gorgeouscarousel.carousel slide {
    margin: none;
    padding: none;
}

span.textshade {
    text-shadow: 3px, 3px, 3px, black;
}

.GoodFellows {
    background-image: url(http://res.cloudinary.com/agent99/image/upload/v1522665724/QUETE:%20Int%C3%A9gration-Finale/bg_light.png);
    text-align: center;
    height: 600px;
    font-family: 'Aniron', cursive;
}

.the-quote {
    margin: 20px;
    padding: 20px;
}

span.decoration {
    font-size: 20px;
    font-weight: bold;
    color: orangered;
    font-family: "Tengwar";
}

.smdeco {
    font-size: 20px;
    font-weight: normal;
    font-family: "Tengwar";
}

a.botnavitems {
    color: rgb(109, 100, 100) !important;
}

div.fellows-men a:hover {
    text-decoration: underline orangered !important;
    color: orangered !important;
    font-weight: bold;
}

.fellows-men {
    margin-bottom: 20px;
}

.threefellows {
    display: flex;
    justify-content: space-around;
}

.para {
    font-family: 'Aniron', cursive;
    background-color: black;
    color: white;
    text-align: left;
}

.img-thumbnail {
    opacity: 0.5;
}

.img-thumbnail:hover {
    opacity: 1.0;
}

.reward {
    position: absolute;
    top: 0;
    margin: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(192, 192, 192, 0.5);
    border: 1.5px black;
    border-radius: 12px;
    font: 3.5em, 'Aniron', cursive;
    color: black;
}

.amount {
    color: rgb(255, 165, 0);
    font-weight: bold;
}

.goodguys :hover .reward {
    display: none;
}

.name {
    font: 4em, 'Aniron', cursive;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 110px;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Party";
}

.goodguys :hover .name {
    font: 2em times, serif;
    margin-bottom: 20px;
    position: absolute;
    text-align: center;
    top: 200px;
    left: 110px;
    font-weight: bold;
}

.dead {
    color: orange;
}

.deadname {
    text-decoration-line: line-through, orange;
}

/* to make the hamburger appear only at smaller screen sizes */

@media screen and (max-width: 991px) {
    .nav-link span {
        display: none;
    }
    .gorgeouscarousel {
        display: none;
    }
}