@font-face {
    font-family: "Aniron";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/anicm___.ttf') format('truetype');
}

@font-face {
    font-family: "Aniron Bold";
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/anirb___.ttf') format('truetype');
}

@font-face {
    font-family: "Tengwar";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/tngani.ttf') format('truetype');
}

@font-face {
    font-family: "Party";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/partybusiness.ttf');
}

/* nav bar style */

.navbar {
    background-color: #FF5F01;
}

#topbar {
    justify-content: flex-end;
}

#topbar a {
    font-family: "Aniron" !important;
    font-style: normal;
    color: white;
}

.pipe {
    margin-left: 0.1em;
    margin-right: 0.1em;
}

#topbar .under:hover {
    border-bottom: 2px solid white;
}

/* end of nav bar coding */

.carousel-item {
    max-height: 400px;
    font-family: "Party", cursive;
}

.carousel-caption h1 {
    font-size: 4em;
}

.carousel-caption h3 {
    font-size: 3em;
}

img.sinimage {
    height: 400px;
    width: auto;
    margin: none;
    padding: none;
}

.gorgeouscarousel.carousel slide {
    margin: none;
    padding: none;
}

span.textshade {
    text-shadow: 3px, 3px, 3px, black;
}

.GoodFellows {
    background-image: url('../images/bg_light.png');
    height: 730px;
    font-family: 'Aniron', cursive;
}

.the-quote {
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
}

span.decoration {
    font-family: "Tengwar";
    color: orangered;
    font-size: 1.3em;
}

.fellowstitles {
    justify-content: center;
}

a.botnavitems {
    color: rgb(109, 100, 100) !important;
}

div.fellows-men a:hover {
    text-decoration: underline orangered !important;
    color: orangered !important;
    font-weight: normal;
}

.fellows-men {
    margin-bottom: 20px;
}

.threefellows {
    display: flex;
    justify-content: space-around;
}

.fellowstitles .decoration {
    font-family: 'Tengwar';
    font-size: 1.5vw;
    color: orangered;
    display: none;
}

.fellowstitles a:hover {
    color: orangered;
}

.fellowstitles a:hover .decoration {
    display: inline;
}

.wanted {
    z-index: 0;
    height: 30vw;
    border: 5px solid black;
    padding: 0 0 0 0;
    margin: 25px 25px 25px 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Party';
}

.flou {
    background-color: rgba(94, 94, 94, 0.5);
    z-index: 1;
    height: 100%;
    width: 100%;
}

.Gandalfimg {
    background-image: url("images/gandalf.png");
}

.aragimg {
    background-image: url("images/aragorn.png");
}

.gimimg {
    background-image: url("images/gimli.png");
}

.reward {
    position: absolute;
    left: 10%;
    top: 10%;
    height: 20%;
    width: 80%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 2.5vw;
    text-align: center;
}

.reward span {
    color: orange;
}

.name {
    position: absolute;
    top: 45%;
    left: 28%;
    font-size: 4vw;
    color: white;
}

.nameGimli {
    position: absolute;
    top: 45%;
    left: 35%;
    font-size: 4vw;
    color: white;
}

.dead {
    position: absolute;
    left: 34%;
    top: 15%;
    height: 20%;
    width: 40%;
    font-size: 3.5vw;
    color: orange;
}

.infos {
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: white;
    width: 100%;
    height: 20%;
    font-size: 2.5vw;
    padding-left: 10px;
}

.wanted:hover .reward {
    display: none;
}

.wanted:hover .flou {
    display: none;
}

.wanted:hover .dead {
    display: none;
}

.wanted:hover .infos {
    display: none;
}

.wanted:hover .name {
    top: 80%;
    transition-duration: 1s;
}

.wanted:hover .nameGimli {
    top: 80%;
    transition-duration: 1s;
}

/* to make the hamburger appear only at smaller screen sizes */

@media screen and (max-width: 991px) {
    .nav-link span {
        display: none;
    }
    .gorgeouscarousel {
        display: none;
    }
    li.topnavitems {
        color: black;
    }
    .fellowstitles {
        display: none;
    }
}

.wanted {
    z-index: 0;
    height: 35vw;
    border: 5px solid black;
    padding: 0 0 0 0;
    margin: 25px 25px 25px 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Party';
}

.flou {
    background-color: rgba(94, 94, 94, 0.5);
    z-index: 1;
    height: 100%;
    width: 100%;
}

.gandalfimg {
    background-image: url("../images/gandalf.png");
}

.aragimg {
    background-image: url("../images/aragorn.png");
}

.gimimg {
    background-image: url("../images/gimli.png");
}

.reward {
    position: absolute;
    left: 10%;
    top: 10%;
    height: 20%;
    width: 80%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 2.5vw;
    text-align: center;
}

.reward span {
    color: orange;
}

.Gname {
    position: absolute;
    top: 45%;
    left: 23%;
    font-size: 4vw;
    color: white;
}

.name {
    position: absolute;
    top: 45%;
    left: 28%;
    font-size: 4vw;
    color: white;
}

.nameGimli {
    position: absolute;
    top: 45%;
    left: 35%;
    font-size: 4vw;
    color: white;
}

.dead {
    position: absolute;
    left: 34%;
    top: 15%;
    height: 20%;
    width: 40%;
    font-size: 3.5vw;
    color: orange;
}

.infos {
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: white;
    width: 100%;
    height: 20%;
    font-size: 2.5vw;
    padding-left: 10px;
}

.wanted:hover .reward {
    display: none;
}

.wanted:hover .flou {
    display: none;
}

.wanted:hover .dead {
    display: none;
}

.wanted:hover .infos {
    display: none;
}

.wanted:hover .Gname {
    top: 80%;
    transition-duration: 1s;
}

.wanted:hover .name {
    top: 80%;
    transition-duration: 1s;
}

.wanted:hover .nameGimli {
    top: 80%;
    transition-duration: 1s;
}

@media screen and (max-width: 768px) {
    .wanted {
        height: 90vw;
    }

    .Gname {
        font-size: 10vw;
    }
    .name {
        font-size: 10vw;
    }
    .nameGimli {
        font-size: 10vw;
    }
    .infos {
        font-size: 6vw;
    }
    .reward {
        font-size: 6vw;
        background-color: none;
    }
    .dead {
        font-size: 10vw;
    }
    
}

@media screen and (max-width: 574px){
    .wanted {
        height: 90vw;
    }
}