@font-face {
    font-family: 'Aniron';
    font-style: normal;
    font-weight: normal;
    src: local('Aniron'), url('anirm___.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Aniron Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Aniron Bold'), url('anirb___.woff'), format('woff');
    }  

@font-face {
    font-family: 'Tengwar Annatar';
    font-style: normal;
    font-weight: bold;
    src: local('tengwar_annatar'), url('tngani.ttf'), format('ttf');
}    

.topbar {
    background-color: rgb(255, 102, 0);
    height: 60px;
}

body {
    background-image: url(http://res.cloudinary.com/agent99/image/upload/c_scale,h_4000,w_1300/v1522665723/QUETE:%20Int%C3%A9gration-Finale/bg_dark.png) ;
}

img.preciouslogo {
    height: 30px;
    width: 250px;
    margin-top: 15px;
}

li.navitems {
    color: white;
    margin-top: 7px;
    padding: 0 1em;
    text-align: center;
    border-right: 1px solid white;
    font-family: 'Aniron', cursive;
}

ul li:last-child { 
    border: 0; 
}

.carousel-item {
    max-height: 400px;
    width: auto;
    margin: none;
    padding: none;
    font-family: 'Aniron Bold', cursive;
}

img.sinimage {
    height: 400px;
    width: auto;
    margin: none;
    padding: none;
}

.gorgeouscarousel.carousel slide {
    margin: none;
    padding: none;
}

span.textshade {
    text-shadow: 3px, 3px, 3px, black;
}

.GoodFellows {
    background-image: url(http://res.cloudinary.com/agent99/image/upload/v1522665724/QUETE:%20Int%C3%A9gration-Finale/bg_light.png);
    text-align: center;
}

p span.decoration {
    font-family: 'Tengwar Annatar';
}