@font-face {
    font-family: 'Aniron';
    font-style: normal;
    font-weight: normal;
    src: local('Aniron'), url('anirm___.woff') format('woff');
}

@font-face {
    font-family: 'Aniron Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Aniron Bold'), url('anirb___.woff'), format('woff');
}

.topbar {
    background-color: rgb(255, 102, 0);
    height: 60px;
}

body {
    background-image: url(http://res.cloudinary.com/agent99/image/upload/c_scale,h_4000,w_1300/v1522665723/QUETE:%20Int%C3%A9gration-Finale/bg_dark.png);
}

img.preciouslogo {
    height: 30px;
    width: 250px;
    margin-top: 15px;
}

li.topnavitems a{
    color: white !important;
    margin-top: 14px;
    padding: 0 1em;
    text-align: center;
    border-right: 1px solid white;
    font-family: 'Aniron', cursive;
    text-decoration-color: white !important;
}

ul li:last-child {
    border: 0;
}

.carousel-item {
    max-height: 400px;
    width: auto;
    margin: none;
    padding: none;
    font-family: 'Aniron', cursive;
}

img.sinimage {
    height: 400px;
    width: auto;
    margin: none;
    padding: none;
}

.gorgeouscarousel.carousel slide {
    margin: none;
    padding: none;
}

span.textshade {
    text-shadow: 3px, 3px, 3px, black;
}

.GoodFellows {
    background-image: url(http://res.cloudinary.com/agent99/image/upload/v1522665724/QUETE:%20Int%C3%A9gration-Finale/bg_light.png);
    text-align: center;
    height: 600px;
    font-family: 'Aniron', cursive;
}

.the-quote {
    margin: 20px;
    padding: 20px;
}

.decoration {
    font-size: 24px;
    font-weight: bold;
}

.smdeco {
    font-size: 20px;
    font-weight: bold;
}

.botnavitems a {
    color: rgb(109, 100, 100) !important;
}

a.nav-link.active.bot {
    color: orange !important;
    text-decoration-line: underline;
}
.fellows-men {
    margin-bottom: 20px;
}

.threefellows {
    display: flex;
    justify-content: space-around;
}

.para {
    font-family: 'Aniron', cursive;
    background-color: black;
    color: white;
}

img 
{
    opacity: 0.5;
}

img:hover 
{
    opacity: 1.0;
}


.reward
{
  position: absolute;
  top: 0;
  margin: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(192,192,192,0.5);
  border: 1.5px black;
  border-radius: 12px;
  font: 3.5em, 'Aniron', cursive;
  color: black;
}  

.amount
{ color: rgb(255, 165, 0);
  font-weight: bold;
}

.goodguys :hover
.reward
{
  display: none;
}  

.name
{
  font: 4em, 'Aniron', cursive;
  text-align: center;  
  position: absolute;
  top: 150px;
  left: 110px;
  margin: 0;
  padding: 0;
  color: white;
}  

.goodguys :hover 
.name
{
  font: 2em times, serif;
  margin-bottom: 20px;
  position: absolute;
  text-align: center;
  top: 200px;
  left: 110px;
  font-weight: bold;
}

.dead {
    color: orange;
}

.deadname {
    text-decoration-line: line-through;
    color: orange;
}